{% extends "base.html" %}


{% load static %}

{% block title %}
    Shoppers
{% endblock %}

{% block content %}
    
    {% block hero %}
      {% include "components/hero.html" %}
    {% endblock %}


    {% block service_info %}
      {% include "components/service_info.html" %}
    {% endblock %}

    {% block collection %}
      {% include "components/collection.html" %}
    {% endblock %}

    
    {% block featured %}
      {% include "components/featured-products.html" %}
    {% endblock %}


    {% block sale %}
      {% include "components/sale.html" %}
    {% endblock %}



{% endblock %}