<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="col-md-5 ml-auto">

    {% if locations %}

      {% for location in locations %}

        <div class="p-4 border mb-3">
          <span class="d-block text-primary h6 text-uppercase">{{ location.city }}</span>
          <p class="mb-0">{{ location.address }}</p>
        </div>

      {% endfor %}

    {% endif %}
            
  </div>
</body>
</html>