{% extends "base.html" %}
{% load static  %}
{% block title %} About {% endblock %}
{% block content %}
    


    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong></div>
        </div>
      </div>
    </div>  
    
    {% if about_components %}

      {% for about_component in about_components %}

      <div class="site-section border-bottom" data-aos="fade">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6">
              <div class="block-16">
                <figure>

                  {% if about_component.video %}

                  <video width="500px" height="500px" controls>
                    <source src="{{ about_component.video.url }}" type="video/mp4">
                  </video>

                  {% else %}

                    {% if about_component.image %}

                      <img src="{{ about_component.image.url }}" alt="Image placeholder" class="img-fluid rounded">
                    
                    {% endif %}
                  {% endif %}

                </figure>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              
              
              <div class="site-section-heading pt-3 mb-4">
                <h2 class="text-black">{{ about_component.name }}</h2>
              </div>
              <p>{{ about_component.description }}</p>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    {% endif %}

    {% block team %}
      {% include "components/team.html" %}
    {% endblock %}
  

    {% block service_info %}
      {% include "components/service_info.html" %}
    {% endblock %}


    {% endblock %}
